{
    "filepath": "D:\\LITHO FILES",
    "user": "Josh",
    "filename": "Test",
    "laser": 10,
    "modulation": 0.0,
    "velocity": 50,
    "x_initial": 1,
    "y_initial": 1,
    "z_initial": 0,
    "delta_mod": 10,
    "delta_vel": 1,
    "delta_x": 0.5,
    "delta_y": 1,
    "delta_z": 1,
    "repeats": 10
}
