{
    "filepath": "D:\\LITHO FILES",
    "user": "Josh",
    "filename": "Mesa_v2_200219",
    "laser": 10,
    "modulation": 50.0,
    "velocity": 10,
    "x_initial": 1,
    "y_initial": 1,
    "z_initial": 0,
    "delta_mod": 0,
    "delta_vel": 0,
    "delta_x": 0.5,
    "delta_y": 0.5,
    "delta_z": ,
    "repeats": 10
}
